* {
    margin:0;
    padding:0;
    font-family: "Open Sans";
    /*text-transform: uppercase;*/
}

@font-face {
    font-family: "Open Sans";
    src: url("../img/PressStart2P-Regular.ttf") format("truetype");
}

body{
    background-color: rgb(68, 68, 68);
    display: flex;
    justify-content: center;
}

/*---------------INDEX---------------*/

.index-form{
    position: absolute;
    margin-top: 550px;
}

.index-input{
    width: 225px;
    height: 40px;
    border: 4px solid #5c94fc;
    background-color: white ;
    font-size: 16px;
    padding-left: 10px;
    color: black;
}

.index-button{
    height: 50px;
    font-size: 16px;
    padding: 0px 10px;   
    border: 4px solid black;
    background-color: #bcbcbc;
    text-transform: uppercase;
}

.index-button:hover{
    background-color: grey;
}

.index-register{
    position: absolute;
    margin-top: 675px;
    text-transform: uppercase;
    font-size: 16px;
    margin-left: 380px;
}

.index-register:visited{
    color: #c84c0c;
}

/*--------------REGISTER-----------*/

.input-register{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 146px;
    width:1024px;
}

.input-register input{
    border: 4px solid white;
    background-color: black;
    color: white;
    width: 300px;
    height: 32px;
    margin-left: 48%;
    margin-bottom: 14px;
    margin-top: 14px;
    font-size: 16px;
    padding-left: 8px;
}

.register-button{
    font-size: 32px;
    color: white;
    background-color: rgba(0, 0, 0, 0) ;
    width: 270px;
    border: none;
    margin-left: 187px;
}
.register-button:hover{
    color: #2038ec;
}

.register-overlay{
    width: 1024px ;
    height: 896px;
    background-size: 1024px 896px;
    image-rendering: pixelated;
    background-image: url("../img/NES - The Legend of Zelda - Register.png");
}

.selector{
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: #e40058;
    z-index: -1;
}

/*----------------CHAT------------*/

.chat-write{
    position: absolute;
    margin-right: 896px;
}
.chat-write textarea{
    margin-top: 28px;
    position: absolute;
    height: 150px;
    width: 246px;
    resize: none;
    background-color: grey;
    color: #87d801;
    padding: 8px;
    font-size: 16px;
}

.chat-write textarea::placeholder{
    color: rgb(179, 211, 142);
}

.chat-disconect{
    position: absolute;
    text-decoration: none;
    font-size: 32px;
    margin-left: 698px;
}

.chat{
    position: absolute;
    margin-left: 320px;
    margin-top: 64px;
    width: 572px;
    height: 128px;
    background-color: black;
    border: 4px solid blue;
    overflow-y: auto;
}

.chat-text{
    display: flex;
    margin-top: 4px;
}

.chat-text h4{
    color: #d82800;
}
.chat-text p{
    color: white;
}
